<body>
    <br>
    <h1>DATOS EMPRESA</h1>
    <br>
    <h4>Nombre:</h4>
    {{nombreEmpresa}}
    <br>
    <h4>Email:</h4>
    {{emailEmpresa}}
    <br>
    <h4>Direccion:</h4>
    {{direcEmpresa}}
    <br>
    <h4>Telefono:</h4>
    {{telefEmpresa}}
    <br><br>
    <div class="navbar-menu">
        <div class="navbar-end">
            <a href="https://www.linkedin.com" target="_blank"><img src="assets/imgs/ico03.png">  LinkedIn</a><br>
            <a href="https://www.google.com" target="_blank"><img src="assets/imgs/ico02.png">  Google+</a><br>
            <a href="https://www.facebook.com" target="_blank"><img src="assets/imgs/ico01.png">  Facebook</a><br>
            <a href="https://www.pinterest.com" target="_blank"><img src="assets/imgs/ico04.png">  Pinterest</a>
        </div>
    </div>
    <br>
    <span>INFORMACION</span>
    <br><br>
    {{descripcion}}
    <br><br><br>
</body>