<nav class="navbar navbar-expand-lg navbar-light bg-secondary">

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">INICIO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">NOSOTROS</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">VIAJES</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">PASAJES</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">PROMOCIONES</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">METODOS DE PAGO</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">OFERTAS</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">AEROLINEAS</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">AEROPUERTOS</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">MAS</a>
      </li>
    </ul>

    <button type="button" class="btn btn-light myBtn" [routerLink]="['/aplicacion/pais']">PAIS</button>
    <button type="button" class="btn btn-light" [routerLink]="['/aplicacion/peru']">PERU</button>

  </div>
</nav>